* {margin: 0; padding: 0;}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(43, 45, 66, 0.9);
}

header {
    background-color: rgb(43, 45, 66);
}

.headerLogo {
    transition: scale 2s ease;
}

.headerLogo:hover {
    transform: scale(105%);
    opacity: 0.9;
}

.headerMenu {
    background-color: rgb(255, 255, 255, 0.05);
    border-radius: 10px;
    margin: 0 5px;
}
.headerMenu:hover {
    background-color: rgb(255, 255, 255, 0.2);

}

    .indexPortada {
        background: url('../assets/images/pelotaOtra.png') no-repeat;
        background-size: cover;
        filter: grayscale(70%);
        width: 100%;
        height: 100vh;
        position: relative;
        
    }

    /* .indexSection {
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
    } */


    .indexTitulo {
        color: #2b2d42;
        font-size: 200%;
        font-weight: 900;
        text-align: center;
        padding-top: 5%;
        text-shadow: 2px 2px 4px white;
    }

    .indexTexto {
        line-height: 3;
        text-align: center;
        padding: 5% 10%;
        color: #000;
        text-shadow: 1px 1px 4px white;
    }


    /* .IndexIconoPelota {
        width: 50px;
        height: 50px;
        animation-name: animacionPelota;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        position: relative;
    } */
    /* @keyframes animacionPelota {
        from {left: 70px; top: 75px; opacity: 1;}
        to {left: 550px; top: 75px; opacity: 0;}
    } */

    .entrGridContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .entrGridItemBoxImg {
        overflow: hidden;
    }

    .entrGridItemImg {
        height: 100%;
        width: 100%;
        transition: transform 2s;
        
        
    }
    .entrGridItemImg:hover {
        transform: scale(1.1);
        

    }

    .entrGridItemText {
        display: flex; 
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        line-height: 1.8;
        text-align: justify;
        color: #edf2f4;
        font-weight: 100;
        padding: 0 15px;
        background-image: linear-gradient(rgb(43, 45, 66, 0.9), black);
    }

    .torneosGridContainer {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
        color: #edf2f4;
        line-height: 1.8;
        text-align: center;
        background-image: radial-gradient(circle, rgb(43, 45, 66, 0.9) 50%, black);
        
    }
    .mapaIframe {
        /* width: 100%;
        height: 100%; */
        width: 500px;
        height: 400px;
    }
.futbol5 {
    grid-area: 1 / 1 / 2 / 2;
}

.futbol5 ul li {
    list-style: none;
    text-align: left;
    text-decoration: underline;
}
.futbol8 {
    grid-area: 2 / 1 / 3 / 2;
}

.futbol8 ul li {
    list-style: none;
    text-align: left;
    text-decoration: underline;
}
.mapa {
    grid-area: 1 / 2 / 3 / 3;
    width: 90%;
    height: 70%;
}
.comoLlego {
    text-decoration-line: underline;
}


    .staff {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 100%;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }

    .staffBackground {
        background-color: whitesmoke;

    }
    .staffItem {
        color: #edf2f4;
        width: 380px;
        text-align: justify;
        line-height: 1.6;
        position: relative;
        padding: 20px 0;
    }
    .staffPolaroid {
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        opacity: 1;
        backface-visibility: hidden;
        transition: .5s ease;
        color: #2b2d42;
        text-align: center;
        font-style: italic;
        font-weight: 600;
    }

    .staffMiddle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .staffTexto {
        color: #2b2d42;
    }

    .staffItem:hover .staffImg {
        opacity: 0.3;
    }

    .staffItem:hover .staffMiddle {
        opacity: 1;
    }

    .staffPolaroid p{
        padding: 15px 0;
    }

    .staffImg {
        width: 100%;
        height: auto;
    }


    /* .contactForm {
        background-color: whitesmoke;
        height: 400px;
        width: 40%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    } */
    /* .contactFormInput {
        background-color: #8d99ae;
        width: 70%; height: 120%;
    } */
    /* .contactFormInputMensaje {
        background-color: #8d99ae;
        width: 70%; height: 280%;
    }
    .contactFormItem {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .button {
        background-color: #2b2d42;
        color: #edf2f4;
        width: 30%;
        margin-left: 35%;

    } */

    footer {
        background-color: #2b2d42;
    }
    /* footer section { 
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    } */
    /* footer section div a {
        padding: 5px 5px;
    }
    footer section ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    footer section ul li {
        font-style: italic;
        font-size: 70%;
        color: #edf2f4;
    } */
    .footerLogo {
        width: 80px;
        transition: scale 2s ease;
        margin: 5px 0;
    }
    
    .footerLogo:hover {
        transform: scale(103%);
        opacity: 0.9;
    }
    .logoRRSS {
        width: 30px;
        transition: scale 2s ease;
    }
    .logoRRSS:hover {
        transform: scale(105%);
    }

    @media (max-width: 895px){
        /* header div nav ul li {
            display: none;
        }
        .menu {
            display: inline-block;
        
            }
            header div {
                display: grid;
                grid-template-columns: 3fr 1fr;
                align-items: center;
            }
            header div .menu {
                justify-self: end;
            } */
        main {
            font-size: 70%;
        }
        .mapaIframe {
            width: 400px;
            height: 300px;
        }


        .staff {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
        }


        /* .contactForm {
            height: 300px;
            width: 50%;
            margin-top: 5%;
            margin-bottom: 5%;
            margin-left: 25%;
        }
        .contactFormInput {
            width: 70%; height: 90%;
        }
        .contactFormInputMensaje {
            width: 70%; height: 250%;
        }
    
        .button {
            width: 30%;
            margin-left: 35%;
            font-size: 10px;
        } */
        }

    @media (max-width:650px) {
        .mapaIframe {
            width: 300px;
            height: 200px;
            margin-top: 5%;
        }
    }


    @media (max-width:575px){
        .indexPortada {
            background-image: url('../assets/images/pelotaPortada.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .footerRRSS {
            display: flex;
            flex-direction: column;
        }

        .logoRRSS {
            width: 20px;
        }
        .footerLogo {
            width: 70px;
        }
        footer section ul li {
            font-size: 50%;
        }
        .headerLogo {
            width: 75px;
        }
        .menu {
            width: 40px;
        }
        main {
            font-size: 50%;
        }

        .indexTitulo {
            color: #edf2f4;
            font-size: 150%;
            font-weight: 900;
            text-align: center;
            grid-area: 1 / 1 / 2 / 2;
            padding-top: 15%;
        }
    
        .indexTexto {
            color: #edf2f4;
            line-height: 2;
            text-align: justify;
            padding: 5% 15%;
            grid-area: 2 / 1 / 3 / 2;
    
        }

        .entrGridItemImg {
            display: none;
        }
        .entrGridItemBoxImg {
            display: none;
        }
        .entrGridContainer {
            display: grid;
            height: 100vh;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
        .entrGridItem1 {
            background-image: url(../assets/images/grupo4.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .entrGridItem2 {
            background-image: url(../assets/images/partido.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .entrGridItem3 {
            background-image: url(../assets/images/sede.jpg);
        }
        .transbox {
            background-color: black;
            opacity: 0.65;
        }
        .entrGridItemText {
            height: 100%;
            display: flex; 
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            line-height: 1.8;
            text-align: justify;
            color: #edf2f4;
            font-weight: 100;
            padding: 0 15px;
        }

        .torneosGridContainer {
            height: auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 3fr;
            justify-items: center;
            align-items: center;
            /* margin: 15px 0; */
            color: #edf2f4;
            line-height: 1.8;
            text-align: center;
    }
    .futbol5 {
        grid-area: 1 / 1 / 2 / 2;
        padding-top: 5%;
    }
    .futbol8 {
        grid-area: 2 / 1 / 3 / 2;
    }
    .mapa {
        height: auto;
        padding: 5% 0;
        grid-area: 3 / 1 / 4 / 2;
    }

    .staffItem {
        width: 300px;
    } 
    .contactForm {
        height: auto;
        width: 80%;
        font-size: 12px;
    }
    .staffPolaroid p{
        font-size: 12px;
    }
    }
    
    
