footer {
    background-color: $colorBase;

    .footerLogo {
        width: 80px;
        transition: scale 2s ease;
        margin: 5px 0;

        &:hover {
            transform: scale(103%);
        opacity: 0.9;}

        @media (max-width:575px) {
            width: 70px;
        }

    }

    .footerTexto {
        @media (max-width:575px) {
            font-size: 10px;
        }
    }

    .footerRRSS {
        @media (max-width:575px) {
                display: flex;
                flex-direction: column;
        }
    
    .logoRRSS {
        width: 30px;
        transition: scale 2s ease;

        &:hover {
            transform: scale(105%);
        }

        @media (max-width:575px) {
            width: 20px;
    }
    }
}
}
