* {margin: 0; padding: 0;}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: $colorBaseLight;
}

.textoGlobal {
    text-align: center;
    line-height: 2.5;

}


@mixin sizes($ancho, $alto) {
    width: $ancho;
    height: $alto;

}


@media (max-width: 895px){
    main {
        font-size: 70%;
    }
}

@media (max-width:575px) {
    main {
        font-size: 50%;
    }
}
