* {margin: 0; padding: 0;}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: $colorBaseLight;
}

.textoGlobal {
    text-align: center;
    line-height: 2.5;

}


@mixin sizes($ancho, $alto) {
    width: $ancho;
    height: $alto;

}

