.indexPortada {
    background: url('../assets/images/pelotaOtra.png');
    background-size: cover;
    filter: grayscale(70%);
    @include sizes(100%, 100vh);

    @media (max-width:575px) {
        background-image: url('../assets/images/pelotaChica.jpg');
    }

    .indexTitulo {
        color: $colorBase;
        font-size: 200%;
        font-weight: 900;
        text-align: center;
        padding-top: 5%;
        text-shadow: 2px 2px 4px white;
    }
    
    .indexTexto {
        @extend .textoGlobal;
        padding: 5% 10%;
        color: #000;
        text-shadow: 1px 1px 4px white;
    }  
}
