.indexPortada {
    background: url('../assets/images/pelotaOtra.png');
    background-size: cover;
    filter: grayscale(70%);
    @include sizes(100%, 100vh);

    @media (max-width:575px) {
        background-image: url('../assets/images/pelotaChica.jpg');
    }

    .indexTitulo {
        color: $colorBase;
        font-size: 200%;
        font-weight: 900;
        text-align: center;
        padding-top: 5%;
        text-shadow: 3px 3px 6px white;
        text-decoration-line: underline;
        text-decoration-style: double;
        text-decoration-color: rgb(255, 68, 104);
    }
    
    .indexTexto {
        @extend .textoGlobal;
        padding: 5% 10%;
        font-weight: bold;
        color: $colorBase;
        text-shadow: 1px 1px 4px white;
        text-transform: uppercase;
    }  
}
